<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.accompanist.imageloading.test">

    <!-- Needed for MockWebServer -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- usesCleartextTraffic=true because we use MockWebServer -->
    <application
        android:name="com.google.accompanist.imageloading.test.TestApplication"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Test" />
</manifest>
